<<<<<<< HEAD
th {
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 0;
    text-align: left;
}

th:first-child {
    text-align: center;
}

table {
    width: 90%;
    border: 1px solid gray;
    margin: auto;
    margin-top: 40px;
    padding: 0;
}

td {
    padding-left: 3px;
=======
table {
  border-collapse: collapse;
  border: 1px solid gray;
  width: 100%;
  margin-bottom: 60vh !important;
  margin: 1rem;
}

thead, thead tr {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
>>>>>>> 3b7f4a80dcf88677b3eaaf4a7a76a9e7afc5ad6b
}
